*{
    box-sizing: border-box;
    margin: 0%;
}
#form input {
    display: flex;
}

#form {
    color: white;
    /*display: flex;*/
}

#testando3 {
    width: 324px;
    height: 245px;
    background-color: #212124;
    margin: 0 auto;
    margin-bottom: 30px;
}

.form img {
    width: 125px;
    height: 125px;
}

.form input {
    display: block;
}











